<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Students</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">1250</div>
            </div>
            <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-users text-blue-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">35 new </span>
        <span class="text-muted-color">since last month</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Teachers</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">85</div>
            </div>
            <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-id-card text-orange-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">5 new </span>
        <span class="text-muted-color">since last month</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Classes</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">42</div>
            </div>
            <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-building text-cyan-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">3 </span>
        <span class="text-muted-color">newly added</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Departments</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">8</div>
            </div>
            <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-sitemap text-purple-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">1 </span>
        <span class="text-muted-color">newly added</span>
    </div>
</div>